<section class="benefits">
  <div class="container">
    <h2 class="benefits__title">Benefits</h2>
    <ul class="benefits__list">
      <li class="benefits__item">
        <h3 class="benefits__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore
          deleniti soluta ea error quae, illum cum facere deserunt impedit
          accusamus?
        </h3>
      </li>
      <li class="benefits__item puppy__wrapper">
        <div class="box-canvas">
          <div class="paw left"></div>
          <div class="paw right"></div>
          <div class="head">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="tongue"></div>
            <div class="snoot"></div>
          </div>
          <div class="ear left"></div>
          <div class="ear right"></div>
        </div>

        <h3 class="benefits__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore
          deleniti soluta ea error quae, illum cum facere deserunt impedit
          accusamus?
        </h3>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore
          deleniti soluta ea error quae, illum cum facere deserunt impedit
          accusamus?
        </h3>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore
          deleniti soluta ea error quae, illum cum facere deserunt impedit
          accusamus?
        </h3>
      </li>
    </ul>
  </div>
</section>
