<header class="header">
  <div class="container header__container">
    <button type="button" class="header__menu-button">
      <svg width="40" height="40">
        <use href="/src/images/icons/symbol-defs2.svg#icon-menu"></use>
      </svg>
    </button>
    <a href="./index.html" class="header__logo"
      ><svg width="40" height="40">
        <use href="/src/images/icons/symbol-defs.svg#icon-atom"></use>
      </svg>
    </a>
    <!-- <nav class="header__navigation">
      <div>
        <a href="./partials/hero.html" class="header__sections-anchor"
          >About Us</a
        >
        <a
          href="./partials/information-block.html"
          class="header__sections-anchor"
          >Advantages</a
        >
        <a href="./partials/prices.html" class="header__sections-anchor"
          >Prices</a
        >
      </div>
    </nav> -->
    <!-- <div class="header__contacts-wrapper">
      <a href="mailto:yaroslavrebrina@gmail.com" class="header__contacts"
        >yaroslavrebrina@gmail.com</a
      >
      <a href="tel:+380969891843" class="header__contacts">+380969891843</a>
    </div> -->
  </div>
</header>
