<section class="hero">
  <div class="hero__container">
    <h2 class="hero__name">Advantages</h2>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <p class="hero__text-on-slide">
            <span class="hero__span">Cheap prices</span>
          </p>
          <p class="hero__text-on-slide">
            We optimised buisness proces to maximum.
          </p>
        </div>
        <div class="swiper-slide">
          <p class="hero__text-on-slide">Only modern</p>
          <p class="hero__text-on-slide">techincs of making desidions</p>
        </div>
        <div class="swiper-slide">
          <p class="hero__text-on-slide">Experiensed analytics</p>
        </div>
        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <!-- саме стількі часу ви витратили на вагання 
    а тепер наша черга нам його з економити ${Таймер який запускається на моменті відкриття сторінки}-->
    <!-- swiper (allerady installed via npm) -->
  </div>
</section>
