<section class="advantages">
  <div class="container">
    <h2 class="title">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="/src/images/icons/symbol-defs.svg#icon-card"></use>
        </svg>
        <h3 class="advantages__item__title">Lorem, ipsum.</h3>
        <p class="advantages__item__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
          officia quasi voluptates nemo in pariatur perspiciatis dolorem nam
          aliquid accusamus.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="/src/images/icons/symbol-defs.svg#icon-man"></use>
        </svg>
        <h3 class="advantages__item__title">Lorem, ipsum.</h3>
        <p class="advantages__item__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
          officia quasi voluptates nemo in pariatur perspiciatis dolorem nam
          aliquid accusamus.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="/src/images/icons/symbol-defs.svg#icon-percent"></use>
        </svg>
        <h3 class="advantages__item__title">Lorem, ipsum.</h3>
        <p class="advantages__item__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
          officia quasi voluptates nemo in pariatur perspiciatis dolorem nam
          aliquid accusamus.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="/src/images/icons/symbol-defs.svg#icon-phone"></use>
        </svg>
        <h3 class="advantages__item__title">Lorem, ipsum.</h3>
        <p class="advantages__item__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
          officia quasi voluptates nemo in pariatur perspiciatis dolorem nam
          aliquid accusamus.
        </p>
      </li>
    </ul>
  </div>
</section>
